body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: white;
    color: black;
    overflow: hidden;
}

#loginScreen {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 300px;
    height: 200px;
    text-align: center;
}

#loginScreen input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#joinBtn {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

#nameError {
    color: red;
    margin-top: 8px;
}

#gameUI {
    width: 100vw;
    height: 100vh;
}

#leaderboard {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: move;
}

#leaderboard h3 {
    margin: 0 0 10px 0;
}

#floatTextContainer {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.floatText {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
    font-size: 20px;
}

.plusOne {
    position: absolute;
    font-size: 24px;
    opacity: 1;
    animation: fadeMove 1s forwards;
}


.floatText {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease;
    font-size: 20px;
    color: black;
}

#adminPanel {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(0,0,0,0.9);
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: none;
    z-index: 9999;
}

#adminPanel button {
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    background: white;
    border: none;
    cursor: pointer;
}

@keyframes fadeMove {
    0% { opacity: 1; transform: translateY(0px); }
    100% { opacity: 0; transform: translateY(-40px); }

}

